!!! 5
html(lang="en")
  head
    title FileStream
    link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
    link(rel="stylesheet", type="text/css", href="/stylesheets/jquery-ui.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js")
    script(src="/javascripts/jquery.periodicalupdater.js")
    script(src="/javascripts/uuid.core.js")
    script(src="/javascripts/filestream.js")
  body!= body
